In [1]:
import random

import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split
from imblearn.over_sampling import SMOTE, SMOTEN

# Exercici 1

## Agafa un conjunt de dades de tema esportiu que t'agradi. Realitza un mostreig de les dades generant una mostra aleatòria simple i una mostra sistemàtica.

Per a aquest exercici agafarem [aquest dataset](https://www.kaggle.com/the-guardian/olympic-games) dels medallistes dels Jocs Olímpics.

In [2]:
df = pd.read_csv('summer.csv')

In [3]:
df

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold
4,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver
...,...,...,...,...,...,...,...,...,...
31160,2012,London,Wrestling,Wrestling Freestyle,"JANIKOWSKI, Damian",POL,Men,Wg 84 KG,Bronze
31161,2012,London,Wrestling,Wrestling Freestyle,"REZAEI, Ghasem Gholamreza",IRI,Men,Wg 96 KG,Gold
31162,2012,London,Wrestling,Wrestling Freestyle,"TOTROV, Rustam",RUS,Men,Wg 96 KG,Silver
31163,2012,London,Wrestling,Wrestling Freestyle,"ALEKSANYAN, Artur",ARM,Men,Wg 96 KG,Bronze
31164,2012,London,Wrestling,Wrestling Freestyle,"LIDBERG, Jimmy",SWE,Men,Wg 96 KG,Bronze

In [4]:
df[df.isna().any(axis=1)]

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
29603,2012,London,Athletics,Athletics,Pending,NaN,Women,1500M,Gold
31072,2012,London,Weightlifting,Weightlifting,Pending,NaN,Women,63KG,Gold
31091,2012,London,Weightlifting,Weightlifting,Pending,NaN,Men,94KG,Silver
31110,2012,London,Wrestling,Wrestling Freestyle,"KUDUKHOV, Besik",NaN,Men,Wf 60 KG,Silver

In [5]:
df.dropna(subset=['Country'], inplace=True)

In [6]:
df.sample(frac=0.1)

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
457,1900,Paris,Rowing,Rowing,"ODBERG, Frank",BEL,Men,Eight With Coxswain (8+),Silver
20363,1992,Barcelona,Cycling,Cycling Track,"O'BRIEN, Shaun William",AUS,Men,Team Pursuit (4000M),Silver
17988,1984,Los Angeles,Weightlifting,Weightlifting,"NIEMI, Pekka",FIN,Men,"90 - 100KG, Total (First-Heavyweight)",Bronze
4360,1924,Paris,Boxing,Boxing,"PORZIO, Alfredo",ARG,Men,+ 79.38KG (Heavyweight),Bronze
28015,2008,Beijing,Canoe / Kayak,Canoe / Kayak S,"OBLINGER PETERS, Violetta",AUT,Women,K-1 (Kayak Single),Bronze
...,...,...,...,...,...,...,...,...,...
15354,1980,Moscow,Aquatics,Water polo,"GOPCEVIC, Zoran",YUG,Men,Water Polo,Silver
16898,1984,Los Angeles,Athletics,Athletics,"GALLAGHER, Kimberley Ann",USA,Women,800M,Silver
1396,1908,London,Gymnastics,Artistic G.,"FORSSTRÖM, Eino Vilho",FIN,Men,Team Competition,Bronze
4684,1924,Paris,Rowing,Rowing,"HUNTER, Robert",CAN,Men,Eight With Coxswain (8+),Silver
30550,2012,London,Hockey,Hockey,"DEL COLLE, Laura",ARG,Women,Hockey,Silver

Com podem veure, fer una mostra aleatòria simple és senzill amb Pandas. Hem agafat el 10% del dataset amb una sola funció.

A continuació agafarem una mostra sistemàtica:

In [7]:
df.iloc[lambda x: (x.index + 3) % 10 == 0]

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
7,1896,Athens,Aquatics,Swimming,"ANDREOU, Joannis",GRE,Men,1200M Freestyle,Silver
17,1896,Athens,Athletics,Athletics,"LERMUSIAUX, Albin",FRA,Men,1500M,Bronze
27,1896,Athens,Athletics,Athletics,"GARRETT, Robert",USA,Men,Discus Throw,Gold
37,1896,Athens,Athletics,Athletics,"VASILAKOS, Kharilaos",GRE,Men,Marathon,Silver
47,1896,Athens,Athletics,Athletics,"TUFFERI, Alexandre",FRA,Men,Triple Jump,Silver
...,...,...,...,...,...,...,...,...,...
31117,2012,London,Wrestling,Wrestling Freestyle,"YONEMITSU, Tatsuhiro",JPN,Men,Wf 66 KG,Gold
31127,2012,London,Wrestling,Wrestling Freestyle,"HATOS, Gabor",HUN,Men,Wf 74 KG,Bronze
31137,2012,London,Wrestling,Wrestling Freestyle,"LOPEZ NUNEZ, Mijain",CUB,Men,Wg 120 KG,Gold
31147,2012,London,Wrestling,Wrestling Freestyle,"KURAMAGOMEDOV, Zaur",RUS,Men,Wg 60 KG,Bronze
31157,2012,London,Wrestling,Wrestling Freestyle,"KHUGAEV, Alan",RUS,Men,Wg 84 KG,Gold

Un altre cop, hem agafat el 10% del dataset, però aquest cop hem agafat en intervals de 10, començant de forma arbitrària pel número 7.

# Exercici 2:

## Continua amb el conjunt de dades de tema esportiu i genera una mostra estratificada i una mostra utilitzant SMOTE (Synthetic Minority Oversampling Technique).

En primer lloc, haurem de convertir les columnes del dataset per operar-hi. Una manera comú i òptima per a estadística i Machine Learning seria utilitzant valors 'dummy', però per als propòsits d'aquest exercici convertiré els objectes a ``category`` per demostrar la facilitat d'agafar una mostra estratificada d'aquesta manera.

In [8]:
df.dtypes

Year           int64
City          object
Sport         object
Discipline    object
Athlete       object
Country       object
Gender        object
Event         object
Medal         object
dtype: object

In [9]:
cat_df = df.astype('category')

### Mostra estratificada

Per a fer mes simple la demostració, assumirem que volem estratificar la mostra per les categories de ``Gender`` i ``Medal``. Tot i així, aquest mètode pot funcionar amb qualsevol categoria.

In [10]:
train, stratified_sample = train_test_split(cat_df, test_size=0.1, stratify=cat_df[['Medal', 'Gender']])

In [11]:
stratified_sample

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
13215,1972,Munich,Cycling,Cycling Track,"HUSCHKE, Thomas",GDR,Men,Team Pursuit (4000M),Silver
10373,1960,Rome,Gymnastics,Artistic G.,"EKMAN, Eugen Georg Oskar",FIN,Men,Pommel Horse,Gold
13727,1972,Munich,Shooting,Shooting,"LIPPOLDT, Werner",GDR,Men,50M Rifle 3 Positions (3X40 Shots),Bronze
21771,1996,Atlanta,Badminton,Badminton,"MAINAKY, Rexy Ronald",INA,Men,Doubles,Gold
23044,1996,Atlanta,Volleyball,Volleyball,"SOUZA, Helia",BRA,Women,Volleyball,Bronze
...,...,...,...,...,...,...,...,...,...
15206,1980,Moscow,Aquatics,Diving,"HOFFMANN, Falk",GDR,Men,10M Platform,Gold
20975,1992,Barcelona,Rowing,Rowing,"GALTAROSSA, Rossano",ITA,Men,Quadruple Sculls Without Coxswain (4X),Bronze
6109,1932,Los Angeles,Gymnastics,Artistic G.,"JOCHIM, Alfred",USA,Men,Vault,Silver
11727,1968,Mexico,Aquatics,Swimming,"WATSON, Lillian Debra",USA,Women,200M Backstroke,Gold
25096,2000,Sydney,Weightlifting,Weightlifting,"YANG, Xia",CHN,Women,53KG,Gold

Ens assegurarem de que la mostra està ben estratificada comparant-la amb els valors originals:

In [12]:
cat_df[['Medal', 'Gender']].value_counts()

Medal   Gender
Gold    Men       7698
Bronze  Men       7539
Silver  Men       7507
Bronze  Women     2830
Silver  Women     2801
Gold    Women     2786
dtype: int64

In [13]:
stratified_sample[['Medal', 'Gender']].value_counts()

Medal   Gender
Gold    Men       770
Bronze  Men       754
Silver  Men       751
Bronze  Women     283
Silver  Women     280
Gold    Women     279
dtype: int64

Com podem veure, hem agafat amb èxit un 10% de la mostra.

### SMOTEN

Per a aquest exercici, farem servir la llibreria ``imbalanced-learn``, concretament la classe ``SMOTEN``, que fa servir l'algoritme 'Synthetic Minority Oversampling Technique' per a variables categòriques ('Nominal' és la última N de l'acrònim).

Com podem veure en la cel·la anterior, hi ha un cert desequilibri entre els medallistes en categoria masculina i les medallistes en categories femenines. Aplicarem ``SMOTEN`` a aquest desequilibri.

In [14]:
sampler = SMOTEN()

In [19]:
X, y = sampler.fit_resample(cat_df, cat_df['Gender'])

In [20]:
resampled_df = pd.DataFrame(X, columns=df.columns)

In [27]:
resampled_df

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold
4,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver
...,...,...,...,...,...,...,...,...,...
45483,2008,Beijing,Aquatics,Swimming,"COUGHLIN, Natalie",USA,Women,4X100M Medley Relay,Silver
45484,1980,Moscow,Athletics,Athletics,"BREHMER-LATHAN, Christina",GDR,Women,4X400M Relay,Silver
45485,2012,London,Aquatics,Water Polo,"PETRI, Heather",USA,Women,Water Polo,Gold
45486,1980,Moscow,Athletics,Athletics,"GNAUCK, Maxi",GDR,Women,4X100M Relay,Gold
45487,1928,Amsterdam,Aquatics,Swimming,"KING, Ellen Elizabeth",RSA,Women,4X100M Freestyle Relay,Bronze

In [26]:
resampled_df[['Medal','Gender']].value_counts()

Medal   Gender
Bronze  Women     8239
Gold    Men       7698
Bronze  Men       7539
Silver  Men       7507
Gold    Women     7318
Silver  Women     7187
dtype: int64

# Exercici 3

## Continua amb el conjunt de dades de tema esportiu i genera una mostra utilitzant el mètode Reservoir sampling.

In [51]:
sample_size = len(cat_df) // 10

reservoir = []

for index, element in cat_df.iterrows():
    if index+1<= sample_size:
        reservoir.append(element)
    else:
        # La probabilitat de que el següent element sigui escollit
        probability = sample_size/(index+1)
        # Si li toca a l'element, canvia'l per un element aleatori de la llista.
        if random.random() < probability:
             reservoir[random.choice(range(0,sample_size))] = element

In [52]:
reservoir_df = pd.DataFrame(reservoir)

In [54]:
reservoir_df

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
16440,1980,Moscow,Volleyball,Volleyball,"STEREA, Constantin",ROU,Men,Volleyball,Bronze
23246,2000,Sydney,Aquatics,Swimming,"POLL AHRENS, Claudia",CRC,Women,200M Freestyle,Bronze
10831,1964,Tokyo,Athletics,Athletics,"DAVIES, John",NZL,Men,1500M,Bronze
5327,1928,Amsterdam,Fencing,Fencing,"PETSCHAUER, Attila",HUN,Men,Sabre Individual,Silver
10453,1960,Rome,Hockey,Hockey,"LAL SHARMA, Jaman",IND,Men,Hockey,Silver
...,...,...,...,...,...,...,...,...,...
4842,1924,Paris,Shooting,Shooting,"EKBLOM, Axel W.",SWE,Men,"100M Running Deer, Double Shots, Team",Bronze
12798,1972,Munich,Aquatics,Swimming,"MATTHES, Roland",GDR,Men,4X100M Freestyle Relay,Bronze
3113,1920,Antwerp,Boxing,Boxing,"WALKER, Clarence Leonard",RSA,Men,50.8 - 53.52KG (Bantamweight),Gold
19495,1988,Seoul,Volleyball,Volleyball,"CERVERA, Luisa",PER,Women,Volleyball,Silver
27502,2008,Beijing,Aquatics,Water polo,"SIJBRING, Alette",NED,Women,Water Polo,Gold